.header{
  height:101px;
  border-top:2px solid #161f32;
}

.inner-box{
  width:1170px;
  margin:0 auto;
}

.inner-box:after{
  content:"";
  display:block;
  clear:both;
}

.logo{
  float:left;
  margin-top:32px;
}

.logo-link{
  display:block;
  width:122px;
  height:30px;
  background:url(../images/logo_artica.gif) no-repeat;
  text-indent:-99999px;
}

.btn-menu-toggle{
  float:right;
  width:26px;
  height:23px;
  background:url(../images/btn_show_menu.gif) no-repeat;
  text-indent:-99999px;
  border:0;
  margin-top:39px;
}

.gnb{
  width:302px;
  height:100%;
  padding-left:38px;

  position:fixed;
  top:0;
  right:-340px;
  background:#161f32;
}

.gnb-heading{
  font-family: 'Molle', cursive;
  font-size:37px;
  color:#fff;
  margin-left:4px;
  margin-top:59px;
}

.gnb-list{
  margin-top:50px;
}

.gnb-item{
  margin-bottom:19px;
}

.gnb-link{
  font-weight:300;
  font-size:20px;
  color:#fff;
}

.btn-menu-close{
  width:12px;
  height:12px;
  background:url(../images/btn_close_menu.png) no-repeat;
  border:0;
  text-indent:-99999px;

  position:absolute;
  top:59px;
  right:53px;

  /* mouse cursor 모양 바꾸기 */
  cursor: pointer;
}

/* 공통(common) css */
.contents{
  text-align:center;
  padding-top:65px;
  box-sizing:border-box;
}

.heading-section{
  font-size:30px;
}

.heading-section.logo-type{
  font-family:Molle, cursive;
  font-size:52px;
  color:#fff;
  margin-bottom:47px;
}

.heading-section.dark{
  color:#3d506f;
}

.heading-section.white{
  color:#fff;
}

.heading-section-sub{
  font-size:20px;
  margin-top:17px;
}

.heading-section-sub.white{
  color:#fff;
}

.heading-section-sub2{
  font-size:25px;
  margin-bottom:23px;
  color:#3d506f;
  font-weight:400;
}

.hr-line{
  margin-top:30px;
  position:relative;
}

.hr-line.mt45:before{
  /* !important 키워드 : 우선순위를 가장 높게 해줌( 인라인 방식보다 우선됨 ) */
  margin:0 auto 45px !important;
}

.hr-line.dark:before{
  content:"";
  display:block;
  width:571px;
  height:1px;
  background:#7f90a5;
  margin:0 auto 30px;
}

.hr-line.dark:after{
  content:"";
  display:block;

  width:23px;
  height:16px;
  background:#fff url(../images/hr_line_circle_dark.png) no-repeat center;

  position:absolute;
  top:-8px;
  left:50%;
  margin-left:-12px;
}

.hr-line.white:before{
  content:"";
  display:block;
  width:571px;
  height:1px;
  background:#fff;
  margin:0 auto 30px;
}

.hr-line.white:after{
  content:"";
  display:block;

  width:23px;
  height:16px;
  background:#222c40 url(../images/hr_line_circle_white.png) no-repeat center;

  position:absolute;
  top:-8px;
  left:50%;
  margin-left:-12px;
}

.paragraph{
  line-height:1.4;
}

.paragraph.white{
  color:#fff;
}

.paragraph.big{
  font-size:25px;
  font-weight:300;
}

.paragraph.italic{
  font-style: italic;
}

.btn-link{
  width:173px;
  height:53px;
  box-sizing:border-box;
  color:#fff;
  display:block;
  line-height:53px;
  text-align:center;
}

.btn-link.center{
  margin:35px auto 0;
}

.btn-link.white{
  border:1px solid #fff;
}

.btn-link.dark{
  background:#3d506f;
}

/* 전용 css */
.mt20{
  margin-top:20px;
}
.mt35{
  margin-top:35px;
}

.mt65{
  margin-top:65px;
}

.fc-white{
  color:#fff;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

/* 영역별 css */
.section1{
  background:#546279;
  height:700px;
}

.section1>.inner-section{
  background:#222c40;
  height:311px;
  position:relative;
  top:105px;
  padding-top:43px;
}

.section3{
  height:240px;
  background:#1d263a;
}

.section5{
  background:#222c40;
  position:relative;
  padding-bottom:263px;
}

.section8{
  background:#161f32;
}

.section10{
  background:#161f32;
}

.service-list{
  margin:65px auto 80px;
}

.service-list:after{
  content:"";
  display:block;
  clear:both;
}

.service-list-item{
  float:left;
  width:255px;
  margin-right:50px;
}

.service-list-item:last-child{
  margin-right:0;
}

.service-list-item>.item-heading{
  position:relative;
  margin-bottom:20px;
  color:#3d506f;
  font-size:20px;
}

.service-list-item>.item-heading:before{
  content:"";
  display:block;

  width:107px;
  height:107px;
  /* css3 둥근 모서리 - 50% => 원 */
  border-radius:50%;
  background:#3d506f;
  margin:0 auto 25px;
}

.service-list-item>.item-heading:after{
  content:"";
  display:block;
  background:url(../images/icon_sprite.png) no-repeat;
  position:absolute;
  left:50%;
}

.service-list-item:nth-child(1)>.item-heading:after{
  width:39px;
  height:36px;
  background-position:0 0;
  top:38px;
  margin-left:-18px;
}

.service-list-item:nth-child(2)>.item-heading:after{
  width:38px;
  height:39px;
  background-position:-40px 0;
  top:35px;
  margin-left:-18px;
}

.service-list-item:nth-child(3)>.item-heading:after{
  width:40px;
  height:38px;
  background-position:-79px 0;
  top:35px;
  margin-left:-20px;
}

.service-list-item:nth-child(4)>.item-heading:after{
  width:45px;
  height:44px;
  background-position:-120px 0;
  top:32px;
  margin-left:-22px;
}

.item-paragraph{
  line-height:1.2;
}

.photo-list{
  padding:85px 0 60px;
}

.photo-list:after{
  content:"";
  display:block;
  clear:both;
}

.photo-list-item{
  width:255px;
  float:left;
  margin-right:50px;
}

.photo-list-item:last-child{
  margin-right:0;
}

.photo-list-item>.item-photo{

}

.photo-list-item .item-photo-mask{
  width:220px;
  height:220px;
  border:3px solid #fff;
  border-radius:50%;
  overflow:hidden;
  position:relative;
  margin:0 auto;
  cursor:pointer;
}

.photo-list-item .item-photo-mask:before{
  content:"";
  display:block;

  width:220px;
  height:220px;
  background:#000;
  /* 투명도 조절 : 0 ~ 1 실수 */
  opacity:0.8;

  position:absolute;
  top:0;
  left:0;
}

.photo-list-item .item-photo-mask:after{
  content:"";
  display:block;

  width:58px;
  height:58px;
  background:url(../images/icon_sprite.png) no-repeat right bottom;

  position:absolute;
  top:50%;
  left:50%;
  margin:-29px 0 0 -29px;
}

.photo-list-item .item-photo-caption{
  margin-top:25px;
}

.photo-list-item .item-photo-name{
  font-size:20px;
  color:#fff;
  font-weight:700;
}

.photo-list-item .item-photo-role{
  color:#fff;
  font-weight:300;
  margin-top:10px;
}

.photo-list-item>.item-story{
  width:100%;
  height:263px;
  background:#161f32;
  position:absolute;
  left:0;
  bottom:0;
  text-align:left;
  padding:35px 0;
  box-sizing:border-box;
  color:#fff;
}

.photo-list-item>.item-story:before{
  content:"";
  display:block;
  width:0;
  height:0;
  border-left:14px solid transparent;
  border-right:14px solid transparent;
  border-bottom:16px solid #161f32;
  position:absolute;
  top:-16px;
  left:50%;
}

.photo-list-item:nth-child(1)>.item-story:before{
  margin-left:-475px;
}

.photo-list-item:nth-child(2)>.item-story:before{
  margin-left:-170px;
}

.photo-list-item:nth-child(3)>.item-story:before{
  margin-left:135px;
}

.photo-list-item:nth-child(4)>.item-story:before{
  margin-left:440px;
}

.photo-list-item .item-story-heading{
  font-size:20px;
  font-weight:700;
}

.photo-list-item .item-story-paragraph{
  line-height:1.2;
  font-weight:300;
  margin:35px 0;
}

.photo-list-item .item-story-period:before{
  content:"";
  display:inline-block;
  width:14px;
  height:14px;
  background:url(../images/icon_sprite.png) no-repeat -2px -121px;
  margin-right:9px;
  position:relative;
  top:1px;
}

.photo-list-item .item-story-birth{
  margin-top:10px;
}

.photo-list-item .item-story-birth:before{
  content:"";
  display:inline-block;
  width:13px;
  height:12px;
  background:url(../images/icon_sprite.png) no-repeat -16px -121px;
  margin-right:9px;
}

.btn-pop-close{
  width:12px;
  height:12px;
  background:url(../images/btn_close_menu.png) no-repeat;
  border:0;
  text-indent:-99999px;
  cursor: pointer;

  position:absolute;
  top:25px;
  left:50%;
  margin-left:573px;
}

.our-company{
  float:left;
  width:570px;
  text-align:left;
}

.our-skills{
  float:right;
  width:570px;
  text-align:left;
}
















